<section class="container">
    <li class="btn btn-secondary">
        <a class="add-btn" href="<%= new_driver_path %>">Add New Driver</a>
    </li>
    <li class="btn btn-secondary">
        <a class="add-btn" href="<%= new_passenger_path %>">Add New Passenger</a>
    </li>

    <li class="btn btn-secondary">
        <a class="add-btn" href="<%= rating_path %>">Rating trips</a>
    </li>
</section>