
<% if @passengers.length > 0%>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>Phone Number</th>
      </tr>
    </thead>
    <tbody>
    <% @passengers.each do |passenger|%>
      <tr>
        <%# <th scope="row"></th> %>
        <td><%= passenger.id %></td>
        <td><%= passenger.name %></td>
        <td><%= passenger.phone_num %></td>
      </tr>
    </tbody>
    <%end %>
</table>

<%else%>
  <h3> No passengers </h3>
<%end%>