
<% if @drivers.length > 0%>
  <table class="table">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>VIN</th>
        <th>Availability</th>
      </tr>
    </thead>
    <tbody>
    <% @drivers.each do |driver|%>
      <tr class="driver_table">
        <%# <th scope="row"></th> %>
        <td><%= driver.id %></td>
        <td><%= link_to driver.name, driver_path(driver) %></td>
        <td><%= driver.vin %></td>
        <td><%= driver.available %></td>
      </tr>
    </tbody>
    <%end %>
</table>

<%else%>
  <h3> No drivers </h3>
<%end%>