
<% if @drivers.length > 0%>
  <table class="table">
    <thead>
      <tr>
        <th>id</th>
        <th>name</th>
        <th>VIN</th>
        <th>availability</th>
      </tr>
    </thead>
    <tbody>
    <% @drivers.each do |driver|%>
      <tr>
        <%# <th scope="row"></th> %>
        <td><%= driver.id %></td>
        <td><%= driver.name %></td>
        <td><%= driver.vin %></td>
        <td><%= driver.available %></td>
      </tr>
    </tbody>
    <%end %>
</table>

<%else%>
  <h3> No drivers </h3>
<%end%>