// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.add-btn {
  color: white;
}

.container {
  margin-top: 80px;

}

.btn-secondary {
  display: flex;
  margin: 20px;
}

// body .container{

//   // background-image: url(ride.jpg);
//   // background-repeat: no-repeat;

// }

